.header{
    background-color: #26d0c9;
    height: 90px;
    color: #fff;
}

body{
    font-family: "Avenir Next";
    background-image:url("./img/background.jpg")
}

.main{
    height: 500px;
    font-size:20px;
    color: #fff;
}
