.header{
    background-color: #26d0c9;
    height: 90px;
    color: #fff;
}

body{
    font-family: "Avenir Next";
}

.main{
    height: 500px;
    color: #000;
    background-image: url("img/backgroud.jpg")
}

.box11{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
    margin: 0;
    padding: 0;
}
